body {
    /*min-width: 1650px;*/
    /*max-width: 1920px;*/
    margin: 0 auto;
    overflow-x: hidden;
}

.modal-content {
    border-radius: 3rem;
    border: none;
}

.modal-90w {
    width: 80%;
    max-width: none !important;
}

.modal-90w .container {
    max-width: none !important;
}

/* loading modal  */

.page_loader_box {
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
}

.LoadingModalImage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.network_types {
    cursor: pointer;
}

.loading_box_text_001 {
    text-align: center;
    color: #1A2D72;
    font-size: 18px;
    font-weight: 800;
}

.loading_box_text_002 {
    text-align: center;
    color: #1A2D72;
}

.loading {
    justify-content: center;
    display: flex;
    align-items: center;
}

.obj {
    width: 6px;
    height: 40px;
    background: #1A2D72;
    margin: 0 3px;
    border-radius: 5px;
    animation: loading 0.8s infinite;
}

.obj:nth-child(2) {
    animation-delay: 0.1s;
}

.obj:nth-child(3) {
    animation-delay: 0.2s;
}

.obj:nth-child(4) {
    animation-delay: 0.3s;
}

.obj:nth-child(5) {
    animation-delay: 0.4s;
}

.obj:nth-child(6) {
    animation-delay: 0.5s;
}

.obj:nth-child(7) {
    animation-delay: 0.6s;
}

.obj:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}

.modal-header {
    padding: 2rem;
}

.modal-header > button {
    position: absolute;
    right: 2rem;
}

.modal-content {
    border-radius: 3rem;
}
/*알림창*/
.alert_msg{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
    white-space: pre-wrap;
}
.alert_msg {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
    white-space: pre-wrap;


}
.alert_box {
    justify-content: center !important;
}
.mint_btn {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 1.5rem;
}
.close_btn {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5rem;
    background: #ccc;
    color: #000;
    border-radius: 1rem;
    border: none;
    padding: 5px 20px;
}
.ok_btn {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5rem;
    background: #b21f2d;
    color: #FFF;
    border-radius: 1rem;
    border: none;
    padding: 5px 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 16px;
}

.pagination > button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background: black;
    color: white;
    font-size: 1rem;
}

.pagination > button:hover {
    background: #B20809;
    cursor: pointer;
    transform: translateY(-2px);
}

.disabled {
    background: grey;
    cursor: revert;
    transform: revert;
}

.pagination > .aria-current {
    background: #B20809;
    font-weight: bold;
    cursor: revert;
    transform: revert;
}

/*상품정보 컴포넌트*/
.item_table {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
}

.item_table > th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.item_table input {
    width: 100%;
}
.item_table input[type=radio] {
    width: auto;
}


.postModal>.modal-dialog{
    border: 2px solid #aaa;
}
