body{
    /*min-width: 1650px;*/
    /*max-width: 1920px;*/
    margin: 0 auto;
    overflow-x: hidden;
}
.modal-content{
    border-radius: 3rem;
    border: none;
}
.modal-90w{
    width: 80%;
    max-width: none!important;
}
.modal-90w .container{
    max-width: none!important;
}
