.my_page{
  margin-top: 92px;
  position: relative;
  padding-bottom: 130px;
  text-align: center;
  position: relative;
  &_title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 7rem;
    padding-top: 17rem;
    &_sub{
      margin: 5rem 0 10rem 0;
      font-size: 2.2rem;
      font-weight: 700;

    }
  }
  .raffle_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    .raffle_item{
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      max-width:990px;
      border: 1px solid #DDD;
      padding: 2rem;
      border-radius: 2rem;
      margin-bottom: 2rem;
      .left{
        width: calc(100% - 200px);
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        >img{
          border: 1px solid #DDD;
          max-width: 160px;
        }
        .raffle_info{
          margin-left: 2rem;
          text-align: left;
          >div{
            margin-bottom: 2rem;
            span{
              display: inline-block;
              padding: 5px 20px;
              background-color: #6f42c1;
              color: #FFF;
              font-weight: 700;
              border-radius: 2rem;
            }
          }
          h6{
            font-family: Poppins;
            font-weight: 900;
            font-size: 3rem;
          }
          p {
            font-size: 2.5rem;
            font-weight: 700;

            span {
              padding-left: 0.5rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
      }
      .right{
        width: 200px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        .raffle_status{
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
.disable_btn{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  background: #8a8a8a;
  color: #FFF;
  border-radius: 2rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover{
    background-color: #FFF;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
  }
}
.raffle_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  background: #B20809;
  color: #FFF;
  border-radius: 2rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover{
    background-color: #FFF;
    color: #B20809;
    border: 1px solid #B20809;
  }
}

// 팝업
.pop_title {
  img {
    width: 10px;
    padding-bottom: 3px;
  }

  display: inline-block;
  width: 100%;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #733ACA;
  margin-bottom: 1rem;
}

.term_box {
  margin-bottom: 2rem;

  input {
    margin-left: 10px;
    accent-color: #9300D2;
  }

  input[type="checkbox"]:focus {
    outline: 1px solid #9300D2;
  }

  .term_text {
    height: 10rem;
    overflow: auto;
    padding: 10px;
  }
}

.pop_form {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  label {
    width: 120px;
    font-weight: bold;
    text-align: center;
    height: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: 0;
  }

  input, select {
    height: 2.3rem;
    margin: 10px;
  }

  input:focus {
    outline: 1px solid #9300D2;
  }

  div {
    a {
      margin: 10px;
      display: inline-block;
      padding: 0px 10px;
      height: 2.3rem;
      line-height: 2.3rem;
      color: #9300D2 !important;
      font-size: 0.8rem;
      border: 1px solid #9300D2;
      cursor: pointer;
    }
  }
}

.btnBox {
  padding: 2rem;
  text-align: center;

  button {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFF;
    padding: 0.5rem 2rem;
    border-radius: 4rem;

    border: none;
  }

  button:nth-child(1) {
    background: #999;
    margin-right: 2rem;
  }

  button:nth-child(2) {
    background: #ab00f3;
  }
}
