.header{
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  //min-width: 1650px;
  //max-width: 1920px;
  background-color: #232323;
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  >div{
    display: flex;
    align-items: center;
  }
  a{
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
  }
  a:hover{
    color: #F5AF01;
    text-decoration: none;
  }
  .logo_img{
    max-height: 33px;
    margin: 1rem 0rem;
  }
  .menu_text{
    text-align: center;
    font-weight: 700;
  }
  .img_button{
    background: none;
    border: none;
  }
  .menu_button{
    position: fixed;
    top: 80px;
    right: 30px;
    background-color: #F5AF01;
    width: 220px;
    padding: 20px;
    border-radius: 14px;
    display: none;
    a{
      display: block;
      color: #000;
      font-size: 15px;
      margin-bottom: 15px;
      img{
        margin-right: 5px;
      }
    }
  }
}
.logout_button{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
  background: #B20809;
  color: #FFF;
  border-radius: 2rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover{
    background-color: #FFF;
    color: #B20809;
    border: 1px solid #B20809;
  }
}
@media screen and (max-width: 830px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;

    .my_page_btn {
      width: 40%;
      >img{
        width: 15px;
      }
    }
  }
}
