.footer{
  padding: 210px 50px 110px 50px;
  width: 100%;
  background-color: #13002e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    width: 33%;
    text-align: center;
  }
  :nth-child(1){
    text-align: left;
  }
  :nth-last-child(1){
    text-align: right;
  }
  .icon_list{
    display: flex;
    justify-content: space-between;
    width: 200px;
    a{
      cursor: pointer;
    }
  }
  .copyright{
    color: #888888;
  }
}
.breeding_footer{
  padding: 110px 50px;
  background-color: #5c00b6!important;
  p{color: #FFF!important;}
}
